<div>

    <form novalidate name="frmCliente">

        <div>
            <input type="text" name="txtName" ng-model="cliente.name" required />
            <span ng-show="frmCliente.txtName.$invalid && frmCliente.txtName.$dirty">Field Required</span>
        </div>
        <br/>
        <div>
            <select ng-model="estado" ng-options="estadoSelect.uf for estadoSelect in estados"></select>
        </div>

        {{ estado }}

        <br/>
        <input type="button" value="Salvar" ng-click="salvarCliente()" ng-disabled="frmCliente.txtName.$invalid"/>
        <input type="button" value="Cancelar" ng-click="cancelar()"/>

    </form>


    <div ng-repeat="cli in clientes">
        {{ cli.id + ' ' + cli.name }}
        <a href="/clientes/{{cli.id}}"> Detalhes </a>
        <input type="button" value="Deletar" ng-click="excluirCliente(cli.id)" />
        <input type="button" value="Atualizar" ng-click="atualizarCliente(cli)"/>
    </div>

</div>

